:host {
    width: 100%;
}

.navbar.navbar-dark{
    padding: 0;
    position:static;
    margin: -5px;
}

.navbar-brand {
    display: none;
}

.navbar-toggler {
    position: absolute;
    top: 0;
    border: none;
    color: #fff;
    z-index: 10;
    background: #f9b123 !important;
    right: 0;
}
