:host(#import-logs-status) .tabs .tab-navigator, :host:host(#import-logs-status) .tabs .tab-navigator .btn{
    background-color: #f9b123;
}

:host(#import-logs-status) .tabs .tab-navigator psk-button.active button.btn{
    background-color:#e9510e ;
}

:host(#import-logs-status[layout="horizontal"]) .tabs .tab-container{
    border-top: none;
}